:host {
  .error-message {
    padding: 1rem;
    margin: 1rem 0;
    color: var(--mat-sys-error);
    background-color: var(--mat-sys-error-container);
  }

  .mat-icon {
    padding-right: 0.3125rem;
  }

  .mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }

  .submit-button {
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
  }

  button {
    width: 12.5rem;
    margin-left: auto;
  }

  .blog-input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    mat-form-field.mat-mdc-form-field {
      margin-top: 0.625rem;
      width: 100%;
    }
  }
}
