<form [formGroup]="formTyped" (ngSubmit)="onSubmit()">
  <div class="blog-input">
    @if (state().error) {
    <div class="error-message" color="warn">
      Oups, der Blog konnte nicht gespeichert werden. Bitte versuchen Sie es
      später nochmals.
    </div>
    }
    <button
      type="submit"
      class="submit-button"
      mat-flat-button
      [disabled]="submitButtonDisabled()"
      color="primary"
    >
      Publish blog
    </button>
    <button type="reset" mat-raised-button color="secondary">Reset</button>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error>
        @if (formTyped.get('title')?.hasError('required')) {
        <span>Title should not be empty</span>
        } @else if (formTyped.get('title')?.hasError('pattern')) {
        <span>Not a valid Title</span>
        } @else if (formTyped.get('title')?.hasError('custom')) {
        <span>Custom error: Title cannot be 'Test'</span>
        } @else if (formTyped.get('title')?.hasError('customAsync')) {
        <span>Custom async error: Title cannot be 'Test Async'</span>
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tell your story...</mat-label>
      <textarea matInput rows="20" formControlName="content"></textarea>
      <mat-error>Content should not be empty</mat-error>
    </mat-form-field>
  </div>
</form>
